<header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active">Accueil</a>
                </li>
                <li class="nav-i">
                    <a href="" class="nav-link"></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="myDropdown" data-toggle="dropdown">
                        What I Know ?
                    </a>
                    <div class="dropdown-menu" aria-labelledby="myDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-i">
                    <a href="" class="nav-link">Qui suis-je ?</a>
                </li>
                <li class="nav-i">
                    <a href="" class="nav-link">Contactez-moi</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="display-4">{{ title }}</h1>
        <hr />
        <p class="lead">Ce site est un condensé de ce que j'ai pu apprendre sur les langages du web.</p>
        <p class="lead">Ce site est un condensé de ce que j'ai pu apprendre sur les langages du web.</p>
        <p class="lead">Ce site est un condensé de ce que j'ai pu apprendre sur les langages du web.</p>
        <p class="lead">Ce site est un condensé de ce que j'ai pu apprendre sur les langages du web.</p>
    </div>
</header>