<footer>
    <div class="container-fluid">
        <div class="col-6">&copy; Copyright 2019-2020</div>
        <div class="col-6">Ce site à été codé par Alain Guillon</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h6>Langages</h6>
                <ul>
                    <li>BASH</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>PHP</li>
                    <li>MYSQL</li>
                    <li>POO</li>
                    <li>ANGULAR</li>
                    <li>JQUERY</li>
                    <li>GIT</li>
                    <li>SYMFONY</li>
                </ul>
            </div>

            <div class="col-4">
                <h6>Langages</h6>
                <ul>
                    <li>BASH</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>PHP</li>
                    <li>MYSQL</li>
                    <li>POO</li>
                    <li>ANGULAR</li>
                    <li>JQUERY</li>
                    <li>GIT</li>
                    <li>SYMFONY</li>
                </ul>
            </div>

            <div class="col-4">
                <h6>Langages</h6>
                <ul>
                    <li>BASH</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JAVASCRIPT</li>
                    <li>PHP</li>
                    <li>MYSQL</li>
                    <li>POO</li>
                    <li>ANGULAR</li>
                    <li>JQUERY</li>
                    <li>GIT</li>
                    <li>SYMFONY</li>
                </ul>
            </div>
        </div>
    </div>
</footer>